@model CourseListViewModel

<div class="row">
    <div class="col-md-8">
        <h1>
            @ViewData["Title"] <a class="btn btn-outline-primary btn-sm" asp-action="Create"><i class="fa fa-plus"></i> Crea nuovo</a>
        </h1>

    </div>
    <div class="col-md-4 d-flex align-items-center">
        <form asp-controller="Courses" asp-action="Index" method="get">
            @Html.HiddenFor(model => model.Input.Stato)
            <div class="input-group margin-bottom-sm">
                <input type="text" name="search" class="form-control" placeholder="Cerca..." aria-label="Cerca..."
                    value="@Model.Input.Search" aria-describedby="search-button">
                <div class="input-group-append input-group-text">
                    <button id="search-button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--
    Prova di lettura di un parametro hidden
    e costruzione di un link con i dati del parametro

<script type="application/javascript">
    function f2() {
        var s = document.getElementsByName("Input.Stato")[0].value;
        return "localhost:5180/Courses?pippo=" + s + "&search=chitarra";

    }

</script>

<script type="application/javascript">
var stringa = "Visita";
document.write(stringa.link("/Courses?pippo=1"));
</script>

<script type="application/javascript">
function f3()
{
   location.href=f2();
}
</script>

<br/>
<a href="javascript:f2()">ciao</a>
<br/>
<a href="javascript:;" onclick="f3();">Link</a>
<br/>
-->

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><order-link order-by="Title" Input="@Model.Input">Titolo</order-link></div>
    <div class="col-md-2"><order-link order-by="Rating" Input="@Model.Input">Valutazione</order-link></div>
    <div class="col-md-2"><order-link order-by="CurrentPrice" Input="@Model.Input">Prezzo</order-link></div>
    <div class="col-md-2"></div>
</div>

@foreach (CourseViewModel course in Model.Courses.Results)
{
    <partial name="Courses/_CourseLine" model="@course"></partial>
}

<vc:pagination-bar model="@Model"></vc:pagination-bar>

